<a href="https://colab.research.google.com/github/MiyoBran/alura-store-desafio/blob/main/03_Pandas_Conociendo_la_biblioteca_inmuebles_cdmx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

## 1. **Importar biblioteca y base de datos**

### - Conociendo los datos

In [2]:
# Importamos la biblioteca pandas , y seleccionamos el url origen de los datos
import pandas as pd
url = 'https://gist.githubusercontent.com/ahcamachod/a572cfcc2527046db93101f88011b26e/raw/ffb13f45a79d31223e645611a119397dd127ee3c/alquiler.csv'
pd.read_csv(url)

      Tipo;Colonia;Habitaciones;Garages;Suites;Area;Valor;Condominio;Impuesto
0          Cocineta;Condesa;1;0;0;40;5950.0;1750.0;210.0
1                       Casa;Polanco;2;0;1;100;24500.0;;
2      Conjunto Comercial/Sala;Santa Fe;0;4;0;150;182...
3      Departamento;Centro Histórico;1;0;0;15;2800.0;...
4          Departamento;Del Valle;1;0;0;48;2800.0;805.0;
...                                                  ...
25116  Cochera/Estacionamiento;Centro Histórico;0;0;0...
25117  Cocineta;Centro Histórico;0;0;0;27;2800.0;1225...
25118  Departamento;Mixcoac;2;1;0;48;4900.0;1781.5;129.5
25119  Departamento;Lomas de Chapultepec;2;0;0;70;105...
25120  Conjunto Comercial/Sala;Centro Histórico;0;0;0...

[25121 rows x 1 columns]

In [3]:
# Como el separador no es una coma (por defecto del csv) , debemos indicar que
# el separador es un ';'
pd.read_csv(url, sep=';')

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN
...,...,...,...,...,...,...,...,...,...
25116,Cochera/Estacionamiento,Centro Histórico,0,0,0,755,49000.0,NaN,NaN
25117,Cocineta,Centro Histórico,0,0,0,27,2800.0,1225.0,87.5
25118,Departamento,Mixcoac,2,1,0,48,4900.0,1781.5,129.5
25119,Departamento,Lomas de Chapultepec,2,0,0,70,10500.0,2660.0,NaN
25120,Conjunto Comercial/Sala,Centro Histórico,0,0,0,250,22750.0,14721.0,3881.5

In [4]:
#ahora almacenaremos lo leido en una variable
datos = pd.read_csv(url, sep=';')
print(datos)

                          Tipo               Colonia  Habitaciones  Garages  \
0                     Cocineta               Condesa             1        0
1                         Casa               Polanco             2        0
2      Conjunto Comercial/Sala              Santa Fe             0        4
3                 Departamento      Centro Histórico             1        0
4                 Departamento             Del Valle             1        0
...                        ...                   ...           ...      ...
25116  Cochera/Estacionamiento      Centro Histórico             0        0
25117                 Cocineta      Centro Histórico             0        0
25118             Departamento               Mixcoac             2        1
25119             Departamento  Lomas de Chapultepec             2        0
25120  Conjunto Comercial/Sala      Centro Histórico             0        0

       Suites  Area    Valor  Condominio  Impuesto
0           0    40   5950.0      1750.0     210.0
1           1   100  24500.0         NaN       NaN
2           0   150  18200.0     14070.0    3888.5
3           0    15   2800.0      1365.0      70.0
4           0    48   2800.0       805.0       NaN
...       ...   ...      ...         ...       ...
25116       0   755  49000.0         NaN       NaN
25117       0    27   2800.0      1225.0      87.5
25118       0    48   4900.0      1781.5     129.5
25119       0    70  10500.0      2660.0       NaN
25120       0   250  22750.0     14721.0    3881.5

[25121 rows x 9 columns]

In [6]:
#tenemos mejores formas de visualizar los datos usando head o tail
datos.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN

In [7]:
datos.tail()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
25116,Cochera/Estacionamiento,Centro Histórico,0,0,0,755,49000.0,NaN,NaN
25117,Cocineta,Centro Histórico,0,0,0,27,2800.0,1225.0,87.5
25118,Departamento,Mixcoac,2,1,0,48,4900.0,1781.5,129.5
25119,Departamento,Lomas de Chapultepec,2,0,0,70,10500.0,2660.0,NaN
25120,Conjunto Comercial/Sala,Centro Histórico,0,0,0,250,22750.0,14721.0,3881.5

In [8]:
# analogamente podemos determinar la cantidad de filas a visualizar con el
# metodo head o tail , poniendo la cantidad de filas a visualizar como parametro
# de la funcion
datos.head(10)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN
5,Casa de Condominio,Santa Fe,5,4,5,750,77000.0,NaN,NaN
6,Conjunto Comercial/Sala,Centro Histórico,0,3,0,695,122500.0,67175.5,10605.0
7,Departamento,Centro Histórico,1,0,0,36,4200.0,NaN,NaN
8,Departamento,Condesa,1,0,1,40,7000.0,1963.5,175.0
9,Cocineta,Condesa,1,0,0,27,6300.0,1753.5,NaN

In [10]:
# Si queremos un ejemplo de lo que hay , con sample() tomaremos una muestra aleatoria
datos.sample(10)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
2913,Departamento,Santa Fe,3,3,3,150,17500.0,10150.0,1575.0
2418,Casa,Barrio Bravo,2,1,0,80,3850.0,NaN,42.0
12798,Departamento,Santa Fe,3,2,1,105,11200.0,6300.0,854.0
15861,Departamento,Peralvillo,2,2,1,147,11200.0,3185.0,700.0
13851,Departamento,Condesa,4,1,1,270,38500.0,7000.0,1050.0
15157,Casa de Condominio,Santa Fe,4,3,4,350,24500.0,24738.0,18431.0
24181,Conjunto Comercial/Sala,Santa Fe,0,2,0,72,13300.0,7875.0,1680.0
7459,Conjunto Comercial/Sala,Coyoacán,0,0,0,36,7700.0,2705.5,1218.0
19961,Departamento,Santa Fe,3,2,1,223,27650.0,8050.0,1949.5
13063,Conjunto Comercial/Sala,Santa Fe,0,2,0,54,9800.0,4375.0,NaN

In [11]:
# Aqui veremos el tipo de variable que es datos
type(datos)

pandas.core.frame.DataFrame

### - Explorar las caracteristicas generales de los datos