<a href="https://colab.research.google.com/github/MiyoBran/alura-store-desafio/blob/main/03_Pandas_Conociendo_la_biblioteca_inmuebles_cdmx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

## 1. **Importar biblioteca y base de datos**

### - Conociendo los datos

In [1]:
# Importamos la biblioteca pandas , y seleccionamos el url origen de los datos
import pandas as pd
url = 'https://gist.githubusercontent.com/ahcamachod/a572cfcc2527046db93101f88011b26e/raw/ffb13f45a79d31223e645611a119397dd127ee3c/alquiler.csv'
pd.read_csv(url)

      Tipo;Colonia;Habitaciones;Garages;Suites;Area;Valor;Condominio;Impuesto
0          Cocineta;Condesa;1;0;0;40;5950.0;1750.0;210.0
1                       Casa;Polanco;2;0;1;100;24500.0;;
2      Conjunto Comercial/Sala;Santa Fe;0;4;0;150;182...
3      Departamento;Centro Histórico;1;0;0;15;2800.0;...
4          Departamento;Del Valle;1;0;0;48;2800.0;805.0;
...                                                  ...
25116  Cochera/Estacionamiento;Centro Histórico;0;0;0...
25117  Cocineta;Centro Histórico;0;0;0;27;2800.0;1225...
25118  Departamento;Mixcoac;2;1;0;48;4900.0;1781.5;129.5
25119  Departamento;Lomas de Chapultepec;2;0;0;70;105...
25120  Conjunto Comercial/Sala;Centro Histórico;0;0;0...

[25121 rows x 1 columns]

In [2]:
# Como el separador no es una coma (por defecto del csv) , debemos indicar que
# el separador es un ';'
pd.read_csv(url, sep=';')

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN
...,...,...,...,...,...,...,...,...,...
25116,Cochera/Estacionamiento,Centro Histórico,0,0,0,755,49000.0,NaN,NaN
25117,Cocineta,Centro Histórico,0,0,0,27,2800.0,1225.0,87.5
25118,Departamento,Mixcoac,2,1,0,48,4900.0,1781.5,129.5
25119,Departamento,Lomas de Chapultepec,2,0,0,70,10500.0,2660.0,NaN
25120,Conjunto Comercial/Sala,Centro Histórico,0,0,0,250,22750.0,14721.0,3881.5

In [3]:
#ahora almacenaremos lo leido en una variable
datos = pd.read_csv(url, sep=';')
print(datos)

                          Tipo               Colonia  Habitaciones  Garages  \
0                     Cocineta               Condesa             1        0
1                         Casa               Polanco             2        0
2      Conjunto Comercial/Sala              Santa Fe             0        4
3                 Departamento      Centro Histórico             1        0
4                 Departamento             Del Valle             1        0
...                        ...                   ...           ...      ...
25116  Cochera/Estacionamiento      Centro Histórico             0        0
25117                 Cocineta      Centro Histórico             0        0
25118             Departamento               Mixcoac             2        1
25119             Departamento  Lomas de Chapultepec             2        0
25120  Conjunto Comercial/Sala      Centro Histórico             0        0

       Suites  Area    Valor  Condominio  Impuesto
0           0    40   5950.0      1750.0     210.0
1           1   100  24500.0         NaN       NaN
2           0   150  18200.0     14070.0    3888.5
3           0    15   2800.0      1365.0      70.0
4           0    48   2800.0       805.0       NaN
...       ...   ...      ...         ...       ...
25116       0   755  49000.0         NaN       NaN
25117       0    27   2800.0      1225.0      87.5
25118       0    48   4900.0      1781.5     129.5
25119       0    70  10500.0      2660.0       NaN
25120       0   250  22750.0     14721.0    3881.5

[25121 rows x 9 columns]

In [4]:
#tenemos mejores formas de visualizar los datos usando head o tail
datos.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN

In [5]:
datos.tail()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
25116,Cochera/Estacionamiento,Centro Histórico,0,0,0,755,49000.0,NaN,NaN
25117,Cocineta,Centro Histórico,0,0,0,27,2800.0,1225.0,87.5
25118,Departamento,Mixcoac,2,1,0,48,4900.0,1781.5,129.5
25119,Departamento,Lomas de Chapultepec,2,0,0,70,10500.0,2660.0,NaN
25120,Conjunto Comercial/Sala,Centro Histórico,0,0,0,250,22750.0,14721.0,3881.5

In [6]:
# analogamente podemos determinar la cantidad de filas a visualizar con el
# metodo head o tail , poniendo la cantidad de filas a visualizar como parametro
# de la funcion
datos.head(10)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN
5,Casa de Condominio,Santa Fe,5,4,5,750,77000.0,NaN,NaN
6,Conjunto Comercial/Sala,Centro Histórico,0,3,0,695,122500.0,67175.5,10605.0
7,Departamento,Centro Histórico,1,0,0,36,4200.0,NaN,NaN
8,Departamento,Condesa,1,0,1,40,7000.0,1963.5,175.0
9,Cocineta,Condesa,1,0,0,27,6300.0,1753.5,NaN

In [7]:
# Si queremos un ejemplo de lo que hay , con sample() tomaremos una muestra aleatoria
datos.sample(10)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
10581,Departamento,Condesa,2,1,1,105,9800.0,2572.5,NaN
2130,Departamento,Condesa,1,0,0,31,4550.0,1750.0,NaN
21032,Departamento,Condesa,4,1,1,180,21000.0,8050.0,738.5
15334,Tienda/Salón,Polanco,0,0,0,25,13650.0,NaN,525.0
22838,Departamento,Coyoacán,1,0,0,50,9625.0,2275.0,262.5
17616,Departamento,San Miguel Chapultepec,3,1,1,103,5950.0,4063.5,574.0
2614,Departamento,Coyoacán,3,1,1,150,28000.0,7175.0,1533.0
4898,Departamento,Del Valle,3,2,1,117,9800.0,3423.0,717.5
8510,Conjunto Comercial/Sala,Santa Fe,0,2,0,237,42000.0,10150.0,NaN
6640,Departamento,Lomas de Chapultepec,3,1,1,150,23450.0,6650.0,1225.0

In [ ]:
# Aqui veremos el tipo de variable que es datos
type(datos)

### - Explorar las caracteristicas generales de los datos

In [12]:
# Siempre las primeras aproximaciones para un dataframe son tener un ejemplo de
# los datos , y sobre todo el tamaño, para esto usaremos sample() y shape().
datos.sample(5)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
2475,Departamento,Santa Fe,2,1,0,52,3850.0,2170.0,NaN
18788,Departamento,Condesa,3,0,0,110,12600.0,5390.0,805.0
23283,Departamento,Centro Histórico,2,1,0,62,8330.0,2380.0,NaN
22992,Conjunto Comercial/Sala,Casa Blanca,0,1,0,22,2100.0,1715.0,NaN
8792,Departamento,Condesa,3,1,1,120,11200.0,5600.0,1400.0

In [14]:
# Con esto vemos la cantidad de datos seguido de la cantidad de columnas
datos.shape

(25121, 9)

In [15]:
# Si quiero saber cuales son las columnas (Devuelve un objeto de tipo pandas
# INDEX)
datos.columns

Index(['Tipo', 'Colonia', 'Habitaciones', 'Garages', 'Suites', 'Area', 'Valor',
       'Condominio', 'Impuesto'],
      dtype='object')

In [16]:
# SI quiero conocer de forma resumida que hay en mi conjunto de datos , tenemos
# a disposicion el metodo .info
datos.info()
# esto nos dira que es un objeto de tipo DataFrame de pandas , con la cantidad
# de entradas , columnas , ademas con los datatypes , y cuantos elementos no
# nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25121 entries, 0 to 25120
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          25121 non-null  object
 1   Colonia       25121 non-null  object
 2   Habitaciones  25121 non-null  int64
 3   Garages       25121 non-null  int64
 4   Suites        25121 non-null  int64
 5   Area          25121 non-null  int64
 6   Valor         25107 non-null  float64
 7   Condominio    22495 non-null  float64
 8   Impuesto      18037 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [17]:
#Si queremos ver que tiene una columa
datos['Tipo']
# en este caso nos devuelve una serie pandas, y nos indica debajo datos basicos
# de la misma.

0                       Cocineta
1                           Casa
2        Conjunto Comercial/Sala
3                   Departamento
4                   Departamento
                  ...
25116    Cochera/Estacionamiento
25117                   Cocineta
25118               Departamento
25119               Departamento
25120    Conjunto Comercial/Sala
Name: Tipo, Length: 25121, dtype: object

In [18]:
# Y en caso de que querramos visualizar mas de una columna , debemos usar dos
# corchetes (le paso una lista con mis dos columnas)
datos[['Habitaciones', 'Valor']]
#En este caso no devuelve una serie pandas , sino un dataframe

       Habitaciones    Valor
0                 1   5950.0
1                 2  24500.0
2                 0  18200.0
3                 1   2800.0
4                 1   2800.0
...             ...      ...
25116             0  49000.0
25117             0   2800.0
25118             2   4900.0
25119             2  10500.0
25120             0  22750.0

[25121 rows x 2 columns]

### Practicando con datos diferentes

Para practicar los métodos aprendidos a lo largo de esta lección y aprender nuevos, realizaremos algunos análisis utilizando un archivo CSV diferente: alumnos.csv.

* Importa el archivo alumnos.csv y almacena su contenido en un DataFrame de Pandas.

* Visualiza las primeras 7 filas del DataFrame y las últimas 5.

* Verifica la cantidad de filas y columnas en este DataFrame.

* Explora las columnas del DataFrame y analiza los tipos de datos presentes en cada columna.

* Extra: Calcula algunas estadísticas descriptivas básicas de los datos en el DataFrame (media, desviación estándar, etc.). Pista: busca el método "describe".

In [20]:
url_2= 'https://gist.githubusercontent.com/ahcamachod/807a2c1cf6c19108b2b701ea1791ab45/raw/fb84f8b2d8917a89de26679eccdbc8f9c1d2e933/alumnos.csv'
#en este caso estan separados por comas, por lo que no indicamos el sep
alumnos = pd.read_csv(url_2)
alumnos

      Nombre  Edad  Nota   Aprobado
0    Alberto    20   7.5       True
1        Ana    18   NaN      False
2     Camila    27   2.5      False
3      David    18   5.0      False
4      Brian    21  10.0       True
5      Bruna    23   NaN      False
6    Daniela    21   7.0       True
7     Carlos    19   6.0      False
8     Alicia    35   5.6      False
9     Victor    28   NaN      False
10    Danilo    21   NaN      False
11   Ignacio    24   4.5      False
12  Stephany    26  10.0       True
13    Miriam    25   9.0       True
14     Pablo    37   NaN      False
15    Milena    29   7.0       True
16     Lucas    33   NaN      False
17     Nadia    34   8.0  Verdadero

In [24]:
alumnos.sample(5)

    Nombre  Edad  Nota   Aprobado
13  Miriam    25   9.0       True
14   Pablo    37   NaN      False
15  Milena    29   7.0       True
16   Lucas    33   NaN      False
17   Nadia    34   8.0  Verdadero

In [25]:
alumnos.head(7)

    Nombre  Edad  Nota Aprobado
0  Alberto    20   7.5     True
1      Ana    18   NaN    False
2   Camila    27   2.5    False
3    David    18   5.0    False
4    Brian    21  10.0     True
5    Bruna    23   NaN    False
6  Daniela    21   7.0     True

In [26]:
alumnos.tail(5)

    Nombre  Edad  Nota   Aprobado
13  Miriam    25   9.0       True
14   Pablo    37   NaN      False
15  Milena    29   7.0       True
16   Lucas    33   NaN      False
17   Nadia    34   8.0  Verdadero

In [23]:
alumnos.shape

(18, 4)

In [27]:
alumnos.columns

Index(['Nombre', 'Edad', 'Nota', 'Aprobado'], dtype='object')

In [29]:
alumnos[['Nombre','Nota','Aprobado']]

      Nombre  Nota   Aprobado
0    Alberto   7.5       True
1        Ana   NaN      False
2     Camila   2.5      False
3      David   5.0      False
4      Brian  10.0       True
5      Bruna   NaN      False
6    Daniela   7.0       True
7     Carlos   6.0      False
8     Alicia   5.6      False
9     Victor   NaN      False
10    Danilo   NaN      False
11   Ignacio   4.5      False
12  Stephany  10.0       True
13    Miriam   9.0       True
14     Pablo   NaN      False
15    Milena   7.0       True
16     Lucas   NaN      False
17     Nadia   8.0  Verdadero

In [31]:
alumnos.describe()

            Edad       Nota
count  18.000000  12.000000
mean   25.500000   6.841667
std     6.070662   2.264532
min    18.000000   2.500000
25%    21.000000   5.450000
50%    24.500000   7.000000
75%    28.750000   8.250000
max    37.000000  10.000000