### Importaci√≥n de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

Paso 2: Auditor√≠a de Estructura (Clean Code)
En lugar de repetir c√≥digo escribiendo tienda.info(), tienda2.info(), etc., vamos a usar un bucle. Esto es m√°s limpio y escalable (si ma√±ana fueran 50 tiendas, el c√≥digo no cambia).

Crea una nueva celda y ejecuta esto:

In [2]:
# Lista de dataframes para iterar
dataframes_tiendas = [tienda, tienda2, tienda3, tienda4]

# Revisamos la informaci√≥n b√°sica de cada uno
for i, df_tienda in enumerate(dataframes_tiendas, 1):
    print(f"--- INFO TIENDA {i} ---")
    df_tienda.info()
    print("\n") # Salto de l√≠nea para separar

--- INFO TIENDA 1 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categor√≠a del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de env√≠o          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificaci√≥n            2359 non-null   int64
 8   M√©todo de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB


--- INFO TIENDA 2 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categor√≠a del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de env√≠o          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificaci√≥n            2359 non-null   int64
 8   M√©todo de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB


--- INFO TIENDA 3 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categor√≠a del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de env√≠o          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificaci√≥n            2359 non-null   int64
 8   M√©todo de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB


--- INFO TIENDA 4 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2358 non-null   object
 1   Categor√≠a del Producto  2358 non-null   object
 2   Precio                  2358 non-null   float64
 3   Costo de env√≠o          2358 non-null   float64
 4   Fecha de Compra         2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Lugar de Compra         2358 non-null   object
 7   Calificaci√≥n            2358 non-null   int64
 8   M√©todo de pago          2358 non-null   object
 9   Cantidad de cuotas      2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB

#1. An√°lisis de facturaci√≥n

## Ingreso Total de Cada Tienda
En este primer an√°lisis, debes calcular el ingreso total de cada tienda. Sumando los valores de la columna Precio de cada conjunto de datos de la tienda para estimar los ingresos.

## üí∞ Actividad 1: Ingreso Total de Cada Tienda

**Objetivo:** Calcular la facturaci√≥n total acumulada por cada sucursal.

**L√≥gica T√©cnica:**
1. La columna `Precio` contiene el valor num√©rico de cada venta.
2. Utilizaremos el m√©todo de agregaci√≥n `.sum()` de Pandas, que funciona igual que un `SUM()` en SQL.
3. Para mantener el c√≥digo limpio y escalable, iteraremos sobre una lista de tuplas que contiene el nombre de la tienda y su DataFrame correspondiente.

In [3]:
# 1. Estructura de datos para iteraci√≥n
# Creamos una lista de tuplas: (Nombre Visual, Objeto DataFrame)
lista_tiendas = [
    ("Tienda 1", tienda),
    ("Tienda 2", tienda2),
    ("Tienda 3", tienda3),
    ("Tienda 4", tienda4)
]

print("--- REPORTE DE INGRESOS TOTALES ---")

# 2. Bucle para procesar cada tienda
for nombre, df_temp in lista_tiendas:
    # Calculamos la suma de la columna 'Precio'
    total_ingresos = df_temp['Precio'].sum()

    # 3. Impresi√≥n con formato
    # f-string nos permite insertar variables dentro del texto.
    # {:,.2f} es un formato que agrega comas de miles y 2 decimales.
    print(f"{nombre}: $ {total_ingresos:,.2f}")

--- REPORTE DE INGRESOS TOTALES ---
Tienda 1: $ 1,150,880,400.00
Tienda 2: $ 1,116,343,500.00
Tienda 3: $ 1,098,019,600.00
Tienda 4: $ 1,038,375,700.00

üß† Explicaci√≥n para tu aprendizaje (Consolidaci√≥n)
lista_tiendas: En Python, podemos guardar objetos complejos (como un DataFrame entero) dentro de una lista. Esto nos permite tratarlos en lote.

df_temp['Precio'].sum():

df_temp['Precio']: Selecciona la "Series" (la columna) espec√≠fica.

.sum(): Es el m√©todo vectorizado de Pandas. Es mucho m√°s r√°pido que hacer un bucle for fila por fila para sumar, ya que est√° optimizado en C (bajo nivel).

{:,.2f}: Esto es formateo de strings.

,: Usa coma como separador de miles.

.2f: Muestra 2 d√≠gitos flotantes (decimales).

# 2. Ventas por categor√≠a

En este debes calcular la cantidad de productos vendidos por categor√≠a en cada tienda. La idea es agrupar los datos por categor√≠a y contar el n√∫mero de ventas de cada tipo, mostrando las categor√≠as m√°s populares de cada tienda.

## üì¶ Actividad 2: Ventas por Categor√≠a

**Objetivo:** Identificar qu√© categor√≠as de productos tienen mayor rotaci√≥n (cantidad de ventas) en cada tienda.

**L√≥gica T√©cnica:**
1. Necesitamos agrupar las ventas por la columna `Categor√≠a del Producto`.
2. Contaremos cu√°ntas filas existen para cada categor√≠a.
3. Utilizaremos el m√©todo `.value_counts()` de Pandas. Este m√©todo es muy potente porque:
    * Agrupa valores √∫nicos.
    * Cuenta la frecuencia de cada uno.
    * **Ordena autom√°ticamente** de mayor a menor (descendente).

In [4]:
# Reutilizamos 'lista_tiendas' que definimos en el paso anterior.
# Si cerraste la sesi√≥n, aseg√∫rate de correr la celda anterior primero.

for nombre, df_temp in lista_tiendas:
    print(f"--- TOP CATEGOR√çAS EN: {nombre.upper()} ---")

    # value_counts() devuelve una Serie con la categor√≠a como √≠ndice y el conteo como valor
    conteo_categorias = df_temp['Categor√≠a del Producto'].value_counts()

    # Mostramos el resultado
    print(conteo_categorias)
    print("\n") # Espacio visual entre tiendas

--- TOP CATEGOR√çAS EN: TIENDA 1 ---
Categor√≠a del Producto
Muebles                    465
Electr√≥nicos               448
Juguetes                   324
Electrodom√©sticos          312
Deportes y diversi√≥n       284
Instrumentos musicales     182
Libros                     173
Art√≠culos para el hogar    171
Name: count, dtype: int64


--- TOP CATEGOR√çAS EN: TIENDA 2 ---
Categor√≠a del Producto
Muebles                    442
Electr√≥nicos               422
Juguetes                   313
Electrodom√©sticos          305
Deportes y diversi√≥n       275
Instrumentos musicales     224
Libros                     197
Art√≠culos para el hogar    181
Name: count, dtype: int64


--- TOP CATEGOR√çAS EN: TIENDA 3 ---
Categor√≠a del Producto
Muebles                    499
Electr√≥nicos               451
Juguetes                   315
Electrodom√©sticos          278
Deportes y diversi√≥n       277
Libros                     185
Instrumentos musicales     177
Art√≠culos para el hogar    177
Name: count, dtype: int64


--- TOP CATEGOR√çAS EN: TIENDA 4 ---
Categor√≠a del Producto
Muebles                    480
Electr√≥nicos               451
Juguetes                   338
Deportes y diversi√≥n       277
Electrodom√©sticos          254
Art√≠culos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

Aunque la Tienda 1 gana m√°s dinero, todas las tiendas venden casi lo mismo (Muebles y Electr√≥nicos dominan). Esto sugiere que la diferencia de ingresos no se debe a qu√© venden, sino quiz√°s a cu√°nto venden o c√≥mo lo venden.

## ‚≠ê Actividad 3: Valoraci√≥n media por tienda

**Objetivo:** Calcular el promedio de satisfacci√≥n del cliente (Rating) para detectar problemas de calidad o servicio.

**L√≥gica T√©cnica:**
1. Trabajaremos sobre la columna `Calificaci√≥n` (que es num√©rica, tipo `int64`).
2. Utilizaremos el m√©todo `.mean()` de Pandas.
3. En estad√≠stica, la **media** (promedio) nos da un punto de equilibrio central. Es equivalente a la funci√≥n `AVG()` en SQL.

In [5]:
# Iteramos nuevamente sobre nuestra lista de tiendas
for nombre, df_temp in lista_tiendas:
    # Calculamos el promedio de la columna 'Calificaci√≥n'
    media_calificacion = df_temp['Calificaci√≥n'].mean()

    # Imprimimos con 2 decimales para facilitar la lectura
    print(f"{nombre} - Promedio de Calificaci√≥n: {media_calificacion:.2f}")

Tienda 1 - Promedio de Calificaci√≥n: 3.98
Tienda 2 - Promedio de Calificaci√≥n: 4.04
Tienda 3 - Promedio de Calificaci√≥n: 4.05
Tienda 4 - Promedio de Calificaci√≥n: 4.00

.mean(): Calcula la media aritm√©tica. Suma todas las calificaciones y divide por la cantidad de ventas.

## An√°lisis r√°pido de Negocio:

- Las calificaciones est√°n extremadamente parejas (todas rondan los 4 puntos).
- ¬øQu√© significa esto para el informe final?:  Que el problema de la tienda "menos eficiente" NO es la satisfacci√≥n del cliente.

Si vamos a recomendar cerrar una, no ser√° porque "traten mal a la gente", porque todas lo hacen igual. Tenemos que buscar el problema en los n√∫meros financieros.

# 4. Productos m√°s y menos vendidos

# 5. Env√≠o promedio por tienda